DetailLists/.vs/
DetailLists/DetailLists/bin/
DetailLists/DetailLists/obj/

*.vs
*.com
*.o
*.so
*.vsidx
*.cache
*.log
*.suo
*.vsidx

# Ignore DLL files
*.dll

# Ignore JSON files
*.json

# Ignore EXE files
*.exe
